@page
@model PhamNguyenTrongTuanRazorPages.Pages.NewsArticle.IndexModel

@{
    ViewData["Title"] = "Article Management";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsArticleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].CreatedByName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].UpdatedByName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NewsArticle)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsArticleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Headline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsSource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByName)
                </td>
                <td>
                    @FormatHelper.FormatActualTime(item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsStatus)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.NewsArticleId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.NewsArticleId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.NewsArticleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
